In [1]:
23+23

46

In [4]:
import numpy as np 
import pandas as pd
import sklearn as skl

In [7]:
songs = pd.read_csv("spotify-2023.csv", encoding="latin-1")

In [8]:
songs.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [9]:
songs.shape

(953, 24)

In [10]:
songs.isna().sum()

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

In [11]:
# track_name 
# artist(s)_name
songs = songs[['track_name' , 'artist(s)_name' , 'danceability_%' ,'energy_%' ]]

In [12]:
songs

,track_name,artist(s)_name,danceability_%,energy_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",80,83
1,LALA,Myke Towers,71,74
2,vampire,Olivia Rodrigo,51,53
3,Cruel Summer,Taylor Swift,55,72
4,WHERE SHE GOES,Bad Bunny,65,80
...,...,...,...,...
948,My Mind & Me,Selena Gomez,60,39
949,Bigger Than The Whole Sky,Taylor Swift,42,24
950,A Veces (feat. Feid),"Feid, Paulo Londra",80,67
951,En La De Ella,"Feid, Sech, Jhayco",82,77
952,Alone,Burna Boy,61,67

In [13]:
songs.isna().sum()

track_name        0
artist(s)_name    0
danceability_%    0
energy_%          0
dtype: int64

In [14]:
songs.dropna()

,track_name,artist(s)_name,danceability_%,energy_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",80,83
1,LALA,Myke Towers,71,74
2,vampire,Olivia Rodrigo,51,53
3,Cruel Summer,Taylor Swift,55,72
4,WHERE SHE GOES,Bad Bunny,65,80
...,...,...,...,...
948,My Mind & Me,Selena Gomez,60,39
949,Bigger Than The Whole Sky,Taylor Swift,42,24
950,A Veces (feat. Feid),"Feid, Paulo Londra",80,67
951,En La De Ella,"Feid, Sech, Jhayco",82,77
952,Alone,Burna Boy,61,67

In [19]:
songs["artist(s)_name"] = (
    songs["artist(s)_name"]
    .str.replace(" ", "", regex=False)
    .str.lower()
)

In [20]:
songs

,track_name,artist(s)_name,danceability_%,energy_%
0,Seven (feat. Latto) (Explicit Ver.),"latto,jungkook",80,83
1,LALA,myketowers,71,74
2,vampire,oliviarodrigo,51,53
3,Cruel Summer,taylorswift,55,72
4,WHERE SHE GOES,badbunny,65,80
...,...,...,...,...
948,My Mind & Me,selenagomez,60,39
949,Bigger Than The Whole Sky,taylorswift,42,24
950,A Veces (feat. Feid),"feid,paulolondra",80,67
951,En La De Ella,"feid,sech,jhayco",82,77
952,Alone,burnaboy,61,67

In [22]:
songs['tags'] = (
    songs['artist(s)_name'].astype(str)
    + " "
    + songs['danceability_%'].astype(str)
    + " "
    + songs['energy_%'].astype(str)
)

In [23]:
songs

,track_name,artist(s)_name,danceability_%,energy_%,tags
0,Seven (feat. Latto) (Explicit Ver.),"latto,jungkook",80,83,"latto,jungkook 80 83"
1,LALA,myketowers,71,74,myketowers 71 74
2,vampire,oliviarodrigo,51,53,oliviarodrigo 51 53
3,Cruel Summer,taylorswift,55,72,taylorswift 55 72
4,WHERE SHE GOES,badbunny,65,80,badbunny 65 80
...,...,...,...,...,...
948,My Mind & Me,selenagomez,60,39,selenagomez 60 39
949,Bigger Than The Whole Sky,taylorswift,42,24,taylorswift 42 24
950,A Veces (feat. Feid),"feid,paulolondra",80,67,"feid,paulolondra 80 67"
951,En La De Ella,"feid,sech,jhayco",82,77,"feid,sech,jhayco 82 77"
952,Alone,burnaboy,61,67,burnaboy 61 67

In [24]:
songs = songs[['track_name' , 'tags']]

In [25]:
songs

                              track_name                    tags
0    Seven (feat. Latto) (Explicit Ver.)    latto,jungkook 80 83
1                                   LALA        myketowers 71 74
2                                vampire     oliviarodrigo 51 53
3                           Cruel Summer       taylorswift 55 72
4                         WHERE SHE GOES          badbunny 65 80
..                                   ...                     ...
948                         My Mind & Me       selenagomez 60 39
949            Bigger Than The Whole Sky       taylorswift 42 24
950                 A Veces (feat. Feid)  feid,paulolondra 80 67
951                        En La De Ella  feid,sech,jhayco 82 77
952                                Alone          burnaboy 61 67

[953 rows x 2 columns]

In [26]:
songs = songs[['track_name', 'tags']]
songs = songs.dropna().reset_index(drop=True)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    stop_words='english',
    ngram_range=(1, 2)
)

vectors = tfidf.fit_transform(songs['tags'])

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [29]:
def recommend(song_name, n=5):
    song_name = song_name.lower()
    
    if song_name not in songs['track_name'].str.lower().values:
        return "Song not found"

    idx = songs[songs['track_name'].str.lower() == song_name].index[0]

    scores = list(enumerate(similarity[idx]))
    scores = sorted(scores, key=lambda x: x[1], reverse=True)

    recommendations = []
    for i in scores[1:n+1]:
        recommendations.append(songs.iloc[i[0]].track_name)

    return recommendations

In [30]:
recommend("vampire")

["Enchanted (Taylor's Version)",
 'Hrs and Hrs',
 'jealousy, jealousy',
 'good 4 u',
 'deja vu']

In [31]:
import pickle

pickle.dump(similarity, open("similarity.pkl", "wb"))
pickle.dump(songs, open("songs.pkl", "wb"))